* {
    margin: 0px;
    padding: 0px;
    font-family: "Motiva Sans", sans-serif;
    text-decoration: none;
}

body {
    color: rgb(200, 200, 200);
    background-color: rgb(10, 40, 50);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 25%;
    background: rgb(25, 25, 25);
}

header a, button {
    font-size: 14px;
    text-align: center;
    transition: 0.3s;
}

header img {
    height: 44px;
    width: 132px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    display: inline-block;
    padding: 0px 10px;
    color: rgb(200, 200, 200);
}

nav a:hover {
    color: rgb(255, 255, 255);
}

nav button {
    cursor: pointer;
    min-width: 100px;
    border-radius: 5px;
    font-weight: bold;
}

.login {
    border: solid 2px;
    padding: 8px 20px;
    color: rgb(200, 200, 200);
    background: transparent;
}

.login:hover {
    color: rgb(255, 255, 255);
}

.signup {
    border: none;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    background: rgb(45, 150, 195);
}

.signup:hover {
    background: rgb(55, 180, 230);
}

.profile {
    border: none;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    background: rgb(45, 150, 195);
}

.profile:hover {
    background: rgb(55, 180, 230);
}

.logout {
    border: solid 2px;
    padding: 8px 20px;
    color: rgb(200, 200, 200);
    background: transparent;
}

.logout:hover {
    color: rgb(200, 60, 60);
}

@media only screen and (max-width: 1400px) {
    header {
        padding: 30px 20%;
    }
}